# Independent 2-Sample t-Test.

In [7]:
import seaborn as sns

df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [9]:
pop_male = df[df['sex'] == 'male']['age'].dropna()
pop_female = df[df['sex'] == 'female']['age'].dropna()

In [10]:
sample_male = pop_male.sample(25)

sample_female = pop_female.sample(25)

alpha = 0.05

H0 : Mean age of Male and Female are same.
Ha : Mean age of Male is higher than female.

In [11]:
from scipy.stats import levene

# Perform levens test
levens_test = levene(sample_male,sample_female)

print(levens_test)

LeveneResult(statistic=0.301297423599582, pvalue=0.5856146571278784)

**t = (x̄1-x̄2) / sqrt((s1^2/n1)+(s2^2/n2))**

x̄1 = Observed Mean of 1st Sample
x̄2 = Observed Mean of 2nd Sample
s1 = Standard Deviation of 1st Sample
s2= Standard Deviation of 2nd Sample
n1 = Size of 1st Sample
n2 = Size of 2nd Sample

In [13]:
import scipy.stats as stats

t_statistic, p_value = stats.ttest_ind(sample_male, sample_female)

print('t-statistic : ', t_statistic)
print('p-value : ', p_value/2)

t-statistic :  0.7292607071225768
p-value :  0.2346929486188295

In [14]:
alpha = 0.05

if p_value < alpha:
    print("Reject the Null-hypothesis")
else:
    print("fail to reject null hypothesis")

fail to reject null hypothesis