# Chi_square test.

In [4]:
import seaborn as sns
import numpy as np
import pandas as pd
import scipy.stats as stats

dataset = sns.load_dataset('tips')

In [2]:
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
dataset_table = pd.crosstab(dataset['sex'],dataset['smoker'])
dataset_table

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [8]:
# Observed Values

obs_values = dataset_table.values
obs_values

array([[60, 97],
       [33, 54]], dtype=int64)

In [10]:
val = stats.chi2_contingency(dataset_table)
val

Chi2ContingencyResult(statistic=0.0, pvalue=1.0, dof=1, expected_freq=array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]]))

In [12]:
expected_values = val[3]
expected_values

array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]])

In [17]:
nos_of_rows = len(dataset_table.iloc[0:2,0])
print(nos_of_rows)
nos_of_cols = len(dataset_table.iloc[0,0:2])
print(nos_of_cols)

ddof = (nos_of_rows)*(nos_of_cols)
print("Degree of Freedom",ddof)

alpha = 0.05

2
2
Degree of Freedom 4

![](Chi-Square-Test.png)

In [20]:
from scipy.stats import chi2

chi_square = sum([(o-e)**2./e for o,e in zip(obs_values,expected_values)])

chi_square_statistic = chi_square[0]+chi_square[1]

In [21]:
chi_square_statistic

0.001934818536627623

In [26]:
# p_value


p_value = 1 - chi2.cdf(x=chi_square_statistic,df=ddof)
print('p_value : ',p_value)
print('Deg of freedom',ddof)

p_value :  0.9999995323613375
Deg of freedom 4

In [28]:
alpha=0.05
critical_value = chi2.ppf(q=1-alpha,df=ddof)

In [29]:
if chi_square_statistic >= critical_value:
    print("Reject HO, There's a relationship b/w two categorical values.")
else:
    print("Retain HO, There's no relationship b/w two categorical values.")

Retain HO, There's no relationship b/w two categorical values.